
.App {
  text-align: center;
}

#root{
  margin: 0 auto;
  max-width: 500px;
}

body{
  padding-left: 4px;
  padding-right: 4px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.lineChart{
  overflow: auto;
  height: 350px;
}

.principal{
  text-align: center;
}

ol {
	padding: 1.5rem 1.5rem 1.5rem 4em;
	border: 0.3rem solid turquoise;
	columns: 25rem;
	column-gap: 7rem;
	column-rule: 4px dotted turquoise;
	border-radius: 0.5rem;
}

ol > * + * {
	margin-top: 1rem;
}

li {
	break-inside: avoid;
  margin-top: 1em;
  background-color:  rgb(60, 60, 60);
  border-radius: 4px;
}

.li-datainfo{
  padding-left: 1em;
}

::marker {
  font-weight: 700;
	font-size: 1.5em;
	color: turquoise;
}


.li-marker::marker{
  content: counters(list-item, '') ': ';
}

li span {
	display: block;
  white-space: nowrap;
}

li span:first-child {
	font-size: 1.5em;
}

li span:last-child {
	font-style: italic;
}

li span:nth-child(2){
  font-style: italic;
}

.divider {
	min-height: 6rem;
	background: lavender;
}

.graph{
  display: flex;
}

h2{
  text-align: center;
}

.ulInfo{
  display: flex;
  flex-direction: column;
  margin-right: 3%;
}

.inputSelect{
  margin-left: 2em;
  margin-right: 1em;
}